@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');

html,
body {
	height: 100%;
	margin: 0;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 2.0rem;
	color: #495057;
}
body {
	overflow-y: scroll;
}
::placeholder {
	opacity: 0.5;
}
::-webkit-input-placeholder { /* Edge */
	opacity: 0.5;
}
:-ms-input-placeholder { /* Internet Explorer */
	opacity: 0.5;
}
h1 { 
	color: #111; 
	font-family: sans-serif; 
	font-size: 1.2rem; 
	font-weight: 700; 
	line-height: 32px; 
	margin: 0 0 0; 
	padding: 2px 2px; 
	border-bottom: solid 1px #ddd;
}
h2 { 
	color: #111; 
	font-family: sans-serif; 
	font-size: 1.0rem; 
	font-weight: 700; 
	line-height: 16px; 
	margin: 0 0 0; 
	padding: 2px 2px;
	border-bottom: solid 1px #ddd;
}
input:focus,
select:focus,
textarea:focus {
	outline: 0;
	border: solid 1px black !important;
}
a,
a:link,
a:visited,
a:hover { 
	text-decoration: none;
	color: inherit;
}
hr {
	border: none;
	border-top: solid 1px #aaa;
	border-bottom: solid 1px #eee;
}
.app-flex {
    display: flex;
	display: -ms-flexbox;
    flex-wrap: nowrap;
    justify-content: space-between;
	margin: 0px;
	padding: 0px;
}
.app-flex.left {
	justify-content: flex-start;
}
.app-flex.center {
	justify-content: center;
}
.app-flex.right {
	justify-content: flex-end;
}
.app-flex.top {
	align-items: flex-start;
}
.app-flex.middle {
	align-items: center;
}
.app-flex.bottom {
	align-items: flex-end;
}
.app-flex > * {
	flex: 0 0 auto;
}
@media screen and (max-width: 768px) {
	.app-flex.fluid {
		flex-wrap: wrap;
	}
	.app-flex.fluid > * {
		flex: 0 1 100%;
	}
}
.gap > * {
	margin: 1px !important;
}
.font-bold {
	font-weight: bold;
}
.font-small {
	font-size: smaller;
}
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.text-top {
	vertical-align: top;
}
.text-middle {
	vertical-align: middle;
}
.text-bottom {
	vertical-align: bottom;
}
.tab {
	display:inline-block;
	margin: 0px;
	margin-right: 2px;
	padding: 1px 10px;
	border:1px solid #ccc;
	border-bottom: none;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	cursor: pointer;
	font-weight: bold;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    background-color: #f9f9f9;
}
.button {
    height: inherit;
    line-height: inherit;
    padding: 0rem 0.5rem;
	border:1px solid #adacac;
	border-radius: 1px;
	white-space:nowrap;
	color:#333;
	font-weight:bold;
	text-decoration:none;
	background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    background-color: #fff;
}
.button > .icon {
	width: 16px;
	height: 16px;
}
.button > span {
	display:inline-block;
	min-width: 50px;
	text-align: center;
	margin-right: 8px;
}
.button:disabled {
	opacity: 0.7;
}
.button:hover:not([disabled]){
	cursor:pointer;
	border: solid 1px #777;
}
.button:active:not([disabled]) {
	position:relative;
	top:1px;
}
.button:focus {
	outline: none;
	box-shadow: none;
	border: solid 1px #777;
}
.button.lock {
	position:relative;
	pointer-events: none !important;
}
.button.lock::after {
	content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACVUlEQVQ4T4WSPUxTURTH//e9Ry20GiJNjFISSURCIqhpa6yLEMNGTLsYdXOB1YTNGL/iZMLmInE2cTBttBMM6gIGC0S+TISIgQdR0lKxfe37vMf0PloLbeJZbu7/3PM75/xzGQ4FLXb3QfI+JkhhghwkckCOoYKMNHeMh0dC6kJtCau90PL5BJgcg7kBODmAnP20DM78sFkbiKykN7QZr9QJAK0/8kJPrcLKBGH+ODzUgbuFNti8Wf2lnenqHPigu4ByZ2cv9r/iCsnkrbC5kvRdzsQZLUUikJwZFOeqnbazHoy97sDHL61CG4pmMXpjE0dbKisBmhUA43SJ0fK5CVg/B2FnqoDr93oR6gFGh/sAJYCxl2uYXcri7bMMYKyJd5bjhWkrk4yvRFRWmmv/ZxgQHgkhnYgC2iygTaNQktF/94Kr7TwXACKGP/qxLeYsh0kqpavdx1MnMf7uVEMjh2+exvDAm2oup/nB7KWLJOvzDQGv7n8V+u2nPeIUgKFtMVU5dvMtYNZCr6qYK+2Aa1DtBC9GvwltZOxsHaC8Qq7g2WLWfOeExHcHJdqrA9y6toN8UUZquq0OYFgydAOTzJzrDhOszx7+vQ7gb3anKpt4eIVcXoEDOyI+kj7bkZCoGGtC1vXCFwX8VxoaicIUtOwMTIsnjw9QXADW3/d7T/jWVmUUgh7pd+PCfVXTy6NzNb9BXZ134H7lSmifAgkixDxSAYpkgDESqbJhpi2hKJ47onOl5gBA7Dvl6yVSnhDnYZtTkDgHY7bKwNNNzH7gv4rF2qZ/AfcrJZgFFN9EAAAAAElFTkSuQmCC');
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 0.3rem;
}
.icon {
	width: 24px;
	height: 24px;
	vertical-align: middle;
}
.icon.large {
	width: 32px;
	height: 32px;
}
.icon.small {
 	width: 16px;
 	height: 16px;
}
.icon.button {
	padding: 2px;
    border-radius: 2px;
}
.link {
	font-weight: bold;
	cursor: pointer;
}
.link:hover {
	text-decoration: underline;			
}
.table {
	table-layout: fixed;
	border-collapse: collapse;
	border: solid 1px #dee2e6;
}
.table > tr ,
.table > thead > tr ,
.table > tbody > tr {
	line-height: inherit;
}
.table > tr > th ,
.table > thead > tr > th ,
.table > tbody > tr > th {
	line-height: inherit;
	font-weight: bold;
	margin: 0px;
	padding: 0px 0.5rem;
	border: dotted 1px #dee2e6;
	background-color: #fafafa;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.table > tr > td ,
.table > tbody > tr > td {
	height: inherit;
	line-height: inherit;
	border: dotted 1px #dee2e6;
	margin: 0px;
	padding: 1px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.id {
	font-weight: bold;
}
.mand:before {
	content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAALpJREFUOI1jYBgFOIHH3DdaMLb7grfauNQx4ZRgYlgIYzP//78AlzpGdAHvBW8C/zEwJDMy/LP5z8B0BKIIwv7/7//MHUmim5HVs6Ab8OKn8BZJns+H//7+uYeZlS2BgYGBAcZ+/oX3I0EviP64zfTv13cWBgYGhn+/vrMgs5UEMV2M4QImAUGPf/8YExkY/sn/Z2CeARGFsL9+fT2bgYFhK/bQQANe89+cxsYm6AUY+M/0LxobexRgAgCexkocIl3odAAAAABJRU5ErkJggg==');
	vertical-align: middle;
	line-height: initial;
}
.embd:after {
	content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABmElEQVQ4T2NkoBAwUqifgXYG3DsQG8rw93/xvz+Mfirui1/hcilWF9zeFs3HyPLvhKBikOa726t7Vb1WlZBoQGidgKJ/o4CsBcPd3aUf/vz746YTvPk0NkMwXHB7Q6jWn/9/DivaJAsx/L7F8O27OsPTk1M2//z8Ktgk/exvdENQDPjf0MB0TfvsQnG9+BgermsMp5ZuZLBIrWS4unH6//9//oUape1fi9eAq8u8PLjEDbdL6aoz/P20n+HM6gsMplFuDD//2jPc3tZy/edXRnOb8qOfkQ2Bu+DqqlC2X1/eHVOwzTDmYD3J8O/XE4g6RlYGZm5jhpe3mRgen1xYb1N2tgmrAWdn2mWLaAZMkVDjZPj75RTD//+/GM6uvc5gHKzJwMjMz8DA6c5wZk7NK4a//xztGq5egxkCd8HJiRZPdKOXSjMzPWD4/+c9AwPDfySLmBiYOdUZXl69wHBzU+Ma57bboRgGHO0yevP/7z+u///+M/z/9w+C//9j+P8Xxv/PwAAW+3/WpeueLYYB5OYJ2uUFYl0EAIO8rREHitn6AAAAAElFTkSuQmCC');
	vertical-align: middle;
	line-height: initial;
	margin-left: 2px;
}

/* Mobile */
@media screen and (max-width: 1023px) {
	html,
	body {
		font-size: 0.875rem;
		line-height: 2.5rem;
	}
}