<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="net.oopscraft.application.board.BoardMapper">

	<cache
		eviction="FIFO"
		flushInterval="10000"
		size="128"
		readOnly="true"/>

    <resultMap id="article" type="net.oopscraft.application.board.Article">
    	<result column="ATCL_ID" property="id"/>
    	<result column="BORD_ID" property="boardId"/>
    	<result column="BORD_NAME" property="boardName"/>
    	<result column="CATE_ID" property="categoryId"/>
    	<result column="CATE_NAME" property="categoryName"/>
    	<result column="ATCL_TITL" property="title"/>
    	<result column="ATCL_CNTS" property="contents"/>
    	<result column="ATCL_USER_ID" property="userId"/>
    	<result column="ATCL_USER_NICK" property="userNickname"/>
    	<result column="ATCL_RGST_DTTM" property="registDate"/>
    	<result column="ATCL_MDFY_DTTM" property="modifyDate"/>
    	<result column="READ_CNT" property="readCount"/>
    	<result column="RPLY_CNT" property="replyCount"/>
    	<result column="FILE_CNT" property="fileCount"/>
    </resultMap>

	<select id="selectLatestArticles" resultMap="article">
		<![CDATA[
		SELECT 	 A.ATCL_ID
				,A.BORD_ID
				,B.BORD_NAME
				,A.CATE_ID
				,C.CATE_NAME
				,A.ATCL_TITL
				,A.ATCL_USER_ID
				,U.USER_NICK
				,A.ATCL_RGST_DTTM
				,A.ATCL_MDFY_DTTM
				,A.READ_CNT
				,(SELECT COUNT(*) FROM APP_ATCL_RPLY_INFO WHERE ATCL_ID = A.ATCL_ID) AS RPLY_CNT
				,(SELECT COUNT(*) FROM APP_ATCL_FILE_INFO WHERE ATCL_ID = A.ATCL_ID) AS FILE_CNT
		FROM 	APP_ATCL_INFO A
		INNER JOIN
				APP_BORD_INFO B
		ON 		B.BORD_ID = A.BORD_ID
		LEFT OUTER JOIN
				APP_BORD_CATE_INFO C
		ON		C.BORD_ID = A.BORD_ID AND C.CATE_ID = A.CATE_ID
		LEFT OUTER JOIN 
				APP_USER_INFO U
		ON 		U.USER_ID = A.ATCL_USER_ID
		WHERE 	1 = 1
		]]>
		<if test="boardId != null and boardId != ''">
		<![CDATA[
		AND 	A.BORD_ID = #{boardId}
		]]>
		</if>
		<![CDATA[
		ORDER BY A.ATCL_RGST_DTTM DESC
		]]>
	</select>
	
	<select id="selectBestArticles" resultMap="article">
		<![CDATA[
		SELECT 	 A.ATCL_ID
				,A.BORD_ID
				,B.BORD_NAME
				,A.CATE_ID
				,C.CATE_NAME
				,A.ATCL_TITL
				,A.ATCL_USER_ID
				,U.USER_NICK
				,A.ATCL_RGST_DTTM
				,A.ATCL_MDFY_DTTM
				,A.READ_CNT
				,(SELECT COUNT(*) FROM APP_ATCL_RPLY_INFO WHERE ATCL_ID = A.ATCL_ID) AS RPLY_CNT
				,(SELECT COUNT(*) FROM APP_ATCL_FILE_INFO WHERE ATCL_ID = A.ATCL_ID) AS FILE_CNT
		FROM 	APP_ATCL_INFO A
		INNER JOIN
				APP_BORD_INFO B
		ON 		B.BORD_ID = A.BORD_ID
		LEFT OUTER JOIN
				APP_BORD_CATE_INFO C
		ON		C.BORD_ID = A.BORD_ID AND C.CATE_ID = A.CATE_ID
		LEFT OUTER JOIN 
				APP_USER_INFO U
		ON 		U.USER_ID = A.ATCL_USER_ID
		WHERE 	1 = 1
		]]>
		<if test="boardId != null and boardId != ''">
		<![CDATA[
		AND 	A.BORD_ID = #{boardId}
		]]>
		</if>
		<![CDATA[
		ORDER BY A.READ_CNT DESC
		]]>
	</select>
	
	
</mapper>
