<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="3">
	<Appenders>
		<Console name="consoleAppender" target="SYSTEM_OUT">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}][%-5p](%F:%L)-%m%n"/>
		</Console>
	</Appenders>
	<Loggers>
		<!-- Root Logger -->
		<Root level="INFO">
			<AppenderRef ref="consoleAppender"/>
		</Root>
		<Logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
			<AppenderRef ref="consoleAppender"/>
		</Logger>
		
		
	    <Logger name="jdbc.splonly" level="DEBUG" additivity="false">
			<AppenderRef ref="consoleAppender"/>
    	</Logger>
	    <Logger name="jdbc.sqltiming" level="INFO" additivity="false">
			<AppenderRef ref="consoleAppender"/>
    	</Logger>
	    <Logger name="jdbc.audit" level="WARN" additivity="false">
			<AppenderRef ref="consoleAppender"/>
    	</Logger>
	    <Logger name="jdbc.resultset" level="ERROR" additivity="false">
			<AppenderRef ref="consoleAppender"/>
    	</Logger>
	    <Logger name="jdbc.resultsettable" level="ERROR" additivity="false">
			<AppenderRef ref="consoleAppender"/>
    	</Logger>
	    <Logger name="jdbc.connection" level="INFO" additivity="false">
			<AppenderRef ref="consoleAppender"/>
    	</Logger>
    	
    	
	</Loggers>
</Configuration>
